/*========== Color ====================*/


.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a,
.main-menu .navigation > li > ul > li:hover > a,
.header-top-one .info li a:hover,
.header-top-one .language .lang-dropdown li a:hover,
.list-style-one li:before,
.about-section .year-experience .text,
.service-block .more-link a,
.service-block-two h3 a:hover,
.news-block h3 a:hover, .news-block .lower-box .meta-info li a:hover,
.news-block .lower-box .meta-info li a:hover,
.news-block .more-link a,
.main-footer .links-widget .links li a:hover,
.main-footer .links-widget .links li:before,
.main-footer .social-links li a:hover,
.main-footer .footer-bottom .copyright a,
.service-block-three h3 a:hover, .service-block-three .inner-box:hover h3 a,
.service-block-three .more-link a,
.feature-block .inner-box:hover .icon-box,
.case-block-two .content-box .link-box a,
.case-block-two .content-box .link-box a:hover .arrow,
.team-block .title-box .designation,
.bkr003 .testimonial-8 .testimonial-item-one .text-area span,
.featured-block .more-link a,
.case-block-two .content-box .title-box h3 a:hover,
.service-block-four h3 a:hover, .service-block-four .inner-box:hover h3 a,
.service-block-four:hover .icon-outer .icon-box,
.sidebar .downloads-widget li a:hover,
.case-single-section .case-inner .cases-title .info-column .inner h3,
.news-block-three h3 a:hover, .news-block-three .lower-box .meta-info li a:hover,
.news-block-three .more-link a,
.widget_categories ul li a:hover,
.post-details .lower-row .tags a:hover

{
	color:#12f0b1!important;
}

/*==============================================
   Theme Background Css
===============================================*/
.btn-style-one .btn-title,
.scroll-to-top,
.service-block .inner-box .more-link a:hover,
.services-section .bottom-text,
.fact-counter .upper-title:before,
.case-block .content-box .link-box a:hover,
.news-block .inner-box:hover .more-link a,
.newsletter-form .form-group .newsletter-btn,
.search-popup .search-form fieldset input[type="submit"],
.cases-carousel-two .owl-dots .owl-dot.active span,
.team-block .social-links li a:hover,
.locations-section .map-box .location-point:before,
.featured-block .inner-box:hover .more-link a,
.sidebar .services-widget ul li:before,
.sidebar .info-widget .widget-inner,
.news-block-three .inner-box:hover .more-link a,
.pagination li .current,
.pagination li a:hover,
.tagcloud a:hover,
.news-block-three .lower-box .category a,
.contact-section-two .social-links li a:hover

{
	background: #12f0b1!important;
	background-color:#12f0b1!important;
}


/*==============================================
   Theme Border Color Css
===============================================*/

.main-menu .navigation > li:before,
.header-top-one .language .lang-dropdown,
.banner-carousel .content-box .sub-title:before,
.sec-title .upper-text:before,
.service-block .inner-box:before,
.case-block .content-box .link-box a:hover,
.appointment-section .title h3:before,
.main-footer .widget-title h4:before,
.newsletter-form .form-group input[type="text"]:focus, .newsletter-form .form-group input[type="email"]:focus, .newsletter-form .form-group input[type="tel"]:focus,
.team-block .social-links li a:hover,
.locations-section .map-box .location-point,
.bkr003 .testimonial-8 .testimonial-item-one:hover .text-area span,
.inner-banner .d-text:before,
.fun-facts-section .title-box h1:before,
.sidebar .services-widget ul li:before,
.sidebar-title h3:before,
.pagination li .current,
.pagination li a:hover,
.tagcloud a:hover,
.sidebar-widget.search-box .form-group input:focus,
.contact-section-two .social-links li a:hover

{
    border-color: #12f0b1!important;  
}

/*==============================================
   RGB
===============================================*/

.video-galler-outer-bg:before {
    background-color: rgba(18,240,177,0.9)!important;
}
.main-slider .content h3:before{
    background: rgba(18,240,177,0.4)!important;
}




