.rtl {
  direction: rtl; 
}

.ltr {
  direction: ltr; 
}

.rtl .main-menu .navigation > li > ul > li > a{
	text-align: right;
}

.rtl .banner-section.banner-one .banner-carousel .content-box .inner{
	text-align: right;
}

.rtl .about-section .text-column .inner{
	text-align: right;
}

.rtl .list-style-one li{
	padding-left: 0px;
	padding-right: 24px;
}

.rtl .list-style-one li:before{
	left: inherit;
	right: -5px;
}

.rtl .about-section .author-info{
	display: block;
}

.rtl .about-section .author-info:before{
	left: inherit;
	right: 0px;
}

.rtl .about-section .author-info .signature{
	float: right;
	margin-right: 0px;
	margin-left: 30px;
}

.rtl .about-section .year-experience{
	left: inherit;
	right: 0px;
	text-align: right;
}

.rtl .services-section .sec-title{
	text-align: right;
}

.rtl .default-bg-section .content-box{
	text-align: right;
}

.rtl .fact-counter .counter-column .inner{
	padding-left: 20px;
	padding-right: 140px;
	text-align: right;
}

.rtl .fact-counter .counter-column .inner .icon{
	left: inherit;
	right: 0px;
}

.rtl .fact-counter .upper-title:before{
	left: inherit
	right: 0px;
}

.rtl .case-block .content-box .title-box .icon{
	right: inherit;
	left: 33px;
}

.rtl .case-block .content-box{
	text-align: right;
}

.rtl .appointment-section .text-column .inner{
	text-align: right;
}

.rtl .service-block-two .inner-box{
	padding-left: 0px;
	padding-right: 125px;
}

.rtl .service-block-two .icon-outer{
	left: inherit;
	right: 0px;
}

.rtl .testimonial-block .inner{
	text-align: right;
}

.rtl .testimonial-block .info{
	margin-left: 0px;
	margin-right: 25px;
	padding-left: 0px;
	padding-right: 95px;
}

.rtl .testimonial-block .info .image{
	left: inherit;
	right: 0px;
}

.rtl .news-block .lower-box{
	text-align: right;
}

.rtl .news-block .lower-box .meta-info li{
	float: right;
	margin-right: 0px;
	margin-left: 31px;
}

.rtl .news-block .lower-box .meta-info li:last-child{
	margin: 0px;
}

.rtl .news-block .lower-box .meta-info li:after{
	right: inherit;
	left: -16px;
}

.rtl .banner-carousel .content-box .content{
	text-align: right;
}

.rtl .service-block-three .inner-box{
	padding-left: 0px;
	padding-right: 90px;
	text-align: right;
}

.rtl .service-block-three .icon-outer{
	left: inherit;
	right: 0px;
}

.rtl .about-section-two .sec-title{
	text-align: right;
}

.rtl .about-section-two .right-column .inner{
	text-align: right;
}

.rtl .case-block-two .content-column .content-box{
	text-align: right;
}

.rtl .fun-facts-section.alternate .fact-counter .counter-column .inner{
	text-align: right;
}

.rtl .fact-counter .upper-title:before{
	left: inherit;
	right: 0px;
}

.rtl section.team-section{
	text-align: right;
}

.rtl .contact-section .text-column .inner{
	text-align: right;
}

.rtl .locations-section .map-box .location-point .inner{
	text-align: right;
}

.rtl .default-bg-section .content-box{
	text-align: right;
}

.rtl .inner-banner .inner{
	text-align: right;
}

.rtl .about-section-three .text-column .inner{
	text-align: right;
}

.rtl .call-to-action .title-column .inner{
	text-align: right;
}

.rtl .accordion-box .block{
	text-align: right;
}

.rtl .service-block-four .inner-box{
	text-align: right;
}

.rtl .service-block-four .icon-outer{
	left: inherit;
	right: 0px;
}

.rtl .case-block .content-box{
	text-align: right;
}

.rtl .sidebar-page-container .services-sidebar{
	text-align: right;
}

.rtl .sidebar .services-widget ul li a{
	padding-right: 20px;
	padding-left: 50px;
}

.rtl .sidebar .services-widget ul li a:before{
	right: inherit;
	left: 0px;
	border-left: none;
	border-right: 1px solid rgba(0,0,0,0.07);
}

.rtl .service-details{
	text-align: right;
}

.rtl .case-single-section .case-inner{
	text-align: right;
}

.rtl .news-block .lower-box{
	text-align: right;
}

.rtl .news-block .lower-box .meta-info li{
	float: right;
	margin-right: 0px;
	margin-left: 31px;
}

.rtl .news-block .lower-box .meta-info li:last-child{
	margin: 0px;
}

.rtl .news-block .lower-box .meta-info li:after{
	right: inherit;
	left: -16px;
}

.rtl .news-block-three .lower-box{
	text-align: right;
}

.rtl .news-block-three .lower-box .meta-info li{
	float: right;
	margin-right: 0px;
	margin-left: 31px;
}

.rtl .news-block-three .lower-box .meta-info li{
	margin: 0px;
}

.rtl .news-block-three .lower-box .meta-info li:after{
	right: inherit;
	left: -16px;
}

.rtl .news-block-three .more-link{
	text-align: left;
	padding-left: 50px;
}

.rtl .sidebar-title{
	text-align: right;
}

.rtl .widget ul li{
	text-align: right;
}

.rtl .widget_categories ul li a{
	padding-left: 0px;
	padding-right: 22px;
}

.rtl .widget_categories ul li a:before{
	left: inherit;
	right: 0px;
	transform: rotate(180deg);
}

.rtl .recent-posts .sidebar .post{
	text-align: right;
	padding-left: 0px;
	padding-right: 100px;
}

.rtl .recent-posts .sidebar .post-thumb{
	left: inherit;
	right: 0px;
}

.rtl .recent-posts .sidebar .meta-info li{
	float: right;
	margin-right: 0px;
	margin-left: 31px;
}

.rtl .tagcloud{
	text-align: right;
}

.rtl .recent-posts .sidebar .meta-info li:last-child{
	margin: 0px;
}

.rtl .tagcloud a{
	margin-right: 0px;
	margin-left: 6px;
}

.rtl .contact-section-two .text-column .inner{
	text-align: right;
}

.rtl .default-form{
	text-align: right;
}

.rtl .contact-info-block .content-box{
	text-align: right;
}


.rtl .banner-carousel{
	direction: ltr;
}

.rtl .main-header .header-upper .right-nav{
	float: left;
}

.rtl .main-header .header-upper .logo-box{
	float: right;
}

.rtl .main-header .search-btn{
	float: left;
	margin-left: 0px;
	margin-right: 40px;
}

.rtl .main-header .nav-outer{
	float: right;
}

.rtl .main-menu .navigation > li{
	float: right;
}

.rtl .testimonial-carousel{
	direction: ltr;
}

.rtl .news-block .lower-box .meta-info li i{
	margin-right: 0px;
	margin-left: 9px;
}

.rtl .header-top-one .info li .icon{
	padding-right: 0px;
	padding-left: 8px;
}

.rtl .main-header .header-top .top-right{
	float: left;
}

.rtl .main-header .header-top .top-left{
	float: right;
}

.rtl .header-top-one .language .lang-dropdown li a{
	text-align: right;
}

.rtl .about-section-two .left-column .image .over-icon{
	right: inherit;
	left: -81px;
}

.rtl .cases-carousel-two{
	direction: ltr;
}

.rtl .ui-menu .ui-menu-item{
	text-align: right;
}

.rtl .main-footer .links-widget .widget-content{
	text-align: right;
}

.rtl .newsletter-form .form-group input[type="text"], 
.rtl .newsletter-form .form-group input[type="tel"], 
.rtl .newsletter-form .form-group input[type="email"], 
.rtl .newsletter-form .form-group textarea{
	padding-right: 70px;
}

.rtl .main-footer .links-widget .links li:before{
	left: inherit;
	right: 0px;
	transform: rotate(180deg);
}

.rtl .main-footer .about-widget{
	text-align: right;
}

.rtl .services-section .bottom-text .text h2{
	padding-left: 0px;
	padding-right: 75px;
	text-align: right;
}

.rtl .services-section .bottom-text .text h2:before{
	left: inherit;
	right: 0px;
}

.rtl .services-section.azim_new .bottom-text .text .btn-titlexx{
	right: inherit;
	left: 0px;
}

.rtl .appointment-section .form-box .default-form{
	text-align: center;
}

.rtl .sponsors-carousel{
	direction: ltr;
}

.rtl .search-popup .search-form fieldset input[type="search"]{
	padding-right: 250px;
}

.rtl .scroll-to-top{
	right: inherit;
	left: 50px;
}

.rtl .mobile-menu .navigation li > a{
	text-align: right;
}

.rtl .mobile-menu .navigation li > a:before{
	left: inherit;
	right: 0px;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
	right: inherit;
	left: 10px;
}

.rtl .three-item-carousel{
	direction: ltr;
}

.rtl .call-to-action .links-column .inner{
	text-align: left;
}

.rtl .inner-banner.alternate .inner{
	text-align: center;
}

.rtl .service-block-four .inner-box{
	padding-left: 0px;
	padding-right: 90px;
}

.rtl .inner-banner .d-text:before{
	left: inherit;
	right: 0px;
}

.rtl .inner-banner.alternate .d-text:before{
	right: inherit;
	left: 50%;
}

.rtl .case-single-section .case-inner .cases-title h2{
	padding-right: 0px;
	padding-left: 40px;
	border-right: none;
	border-left: 1px solid #cccccc;
}

.rtl .main-menu .navigation > li:last-child{
	margin-right: 40px;
}

.rtl blockquote{
	border-left: none;
	border-right: 3px solid #4a3d8f;
}

.rtl .post-details{
	text-align: right;
}